// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
html{
	background:#f5f5f5;
}
body{
	font-size:1em;
}
#main{
	// width:90%;
}
body>header{
	background:#222;
}
article blockquote{
	font-size:1.1em;
}
#tag_cloud{
	h1{
		margin-bottom:15px;
	}
}